modules = ["web", "python-3.12"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg-full", "libsndfile"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 39418602
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
