
modules = ["web", "python-3.12"]
run = "python undefined"

[nix]
channel = "stable-24_05"
packages = ["ffmpeg-full", "libsndfile", "portaudio", "python310Packages.pyaudio", "alsa-lib", "pkg-config"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 39418602
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "python undefined"]
